<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="master::head('JobTI')"></head>
<body>

<header th:replace="master::header"></header>

<main role="main">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">JobTi</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Chi siamo</h6>
                        <p class="card-text text-justify">
                            Siamo un gruppo di studenti che si appresta a concludere il proprio percorso formativo presso la SUPSI. Il team è formato da membri che si sono formati in Economia Aziendale e Ingegneria Informatica, un connubio che ci permette di potervi garantire un servizio di qualità.
                            Durante l’esperienza formativa abbiamo notato che, soprattutto giovani e neolaureati, riscontravano difficolta nel trovare un impiego nonostante molti di essi avessero dei curricula interessanti.
                            Dall’altra parte dopo diverse analisi abbiamo notato come il mercato abbia un importante bisogno di lavoratori specializzati.
                            Tutto ciò risulta in un mercato del lavoro con una forte asimmetria informativa, ed è proprio qua che vogliamo entrare in gioco noi.
                            Vogliamo essere in Svizzera un punto di riferimento per le aziende e per le persone in cerca d’impiego.
                            La nostra missione è quella di garantire un servizio volto a semplificare e valorizzare il profilo degli utenti e consentire allo stesso tempo alle imprese di svolgere ricerche mirate sul territorio in un batter d’occhio.
                            Siamo pronti a rivoluzionare il mercato del lavoro in Svizzera.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-deck text-center justify-content-center">
            <div class="card my-3" style="min-width: 155px; max-width: 155px">
                <img th:src="@{images/user-avatar-green.svg}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">Fabio</h5>
                    <h5 class="card-title">Metallo</h5>
                    <p class="card-subtitle">Economia</p>
                </div>
            </div>
            <div class="card my-3" style="min-width: 155px; max-width: 155px">
                <img th:src="@{images/user-avatar-blue.svg}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">Andrea</h5>
                    <h5 class="card-title">Zanetti</h5>
                    <p class="card-subtitle">Economia</p>
                </div>
            </div>
            <div class="card my-3" style="min-width: 155px; max-width: 155px">
                <img th:src="@{images/user-avatar.svg}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">Alessio</h5>
                    <h5 class="card-title">Zaccone</h5>
                    <p class="card-subtitle">Economia</p>
                </div>
            </div>
            <div class="card my-3" style="min-width: 155px; max-width: 155px">
                <img th:src="@{images/user-avatar-blue.svg}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">Avtandil</h5>
                    <h5 class="card-title">Pataraia</h5>
                    <p class="card-subtitle">Economia</p>
                </div>
            </div>
            <div class="card my-3" style="min-width: 155px; max-width: 155px">
                <img th:src="@{images/user-avatar.svg}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">Edin</h5>
                    <h5 class="card-title">Halilovic</h5>
                    <p class="card-subtitle">Economia</p>
                </div>
            </div>
            <div class="card my-3" style="min-width: 155px; max-width: 155px">
                <img th:src="@{images/user-avatar-green.svg}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">Roberto</h5>
                    <h5 class="card-title">Bignasca</h5>
                    <p class="card-subtitle">Informatica</p>
                </div>
            </div>
            <div class="card my-3" style="min-width: 155px; max-width: 155px">
                <img th:src="@{images/user-avatar-blue.svg}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">Mohammad</h5>
                    <h5 class="card-title">Halabi</h5>
                    <p class="card-subtitle">Informatica</p>
                </div>
            </div>
            <div class="card my-3" style="min-width: 155px; max-width: 155px">
                <img th:src="@{images/user-avatar.svg}" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title mb-0">David</h5>
                    <h5 class="card-title">Petkov</h5>
                    <p class="card-subtitle">Informatica</p>
                </div>
            </div>

        </div>
    </div>
</main>
<footer th:replace="master::footer"></footer>
</body>
</html>