<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="profile" th:object="${user}" >
    <div class="card bg-light p-2">
        <div class="row no-gutters align-items-center">
            <div class="col-md-3" style="background: #868e96;">
                <img  th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_PRIVATE'')')}"
                      class="card-img-top h-100" th:src="@{images/user-avatar.svg}">
                <img  th:if="${#authorization.expression('hasRole(''ROLE_COMPANY'')')}"
                      class="card-img-top h-100" th:src="@{images/company-avatar.svg}">
            </div>
            <div class="col-md-9">
                <div class="card-body text-center">
                    <h1 th:text="${user.getName()+' '+user.getSurname()}">Eric Rossetti</h1>
                    <p class="lead">
                        <span th:text="${user.getSector().getName()}"></span>
                        <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_PRIVATE'')')}"> - </span>
                        <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_PRIVATE'')')}" th:text="${user.getProfession().getName()}"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div th:fragment="bodyProfile" class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="nav nav-pills" id="pills-tab" role="tablist">
                        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                           role="tab" aria-controls="v-pills-profile" aria-selected="true">Profilo</a>
                        <a class="nav-link" id="pills-education-tab" data-toggle="pill" href="#pills-education"
                           role="tab" aria-controls="v-pills-education" aria-selected="false">Formazione</a>
                        <a class="nav-link" id="pills-portfolio-tab" data-toggle="pill" href="#pills-portfolio"
                           role="tab" aria-controls="v-pills-portfolio" aria-selected="false">Portfolio</a>
                        <a class="nav-link" id="pills-knoledge-tab" data-toggle="pill" href="#pills-knowledge"
                           role="tab" aria-controls="v-pills-knowledge" aria-selected="false">Conoscenze</a>
                        <a th:if="${detail}" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
                            role="tab" aria-controls="v-pills-contact" aria-selected="false">Contatta</a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <h4 class="card-text font-weight-bold">Informazioni personali</h4>
                            <p class="card-text" >Nome Cognome:
                                <b><span th:text="${user.getName()+' '+user.getSurname()}">Eric Rossetti</span></b>
                            </p>
                            <p class="card-text">Data di nascita:
                                <b><span th:text="${user.getFormattedBD()}"></span></b>
                            </p>
                            <p class="card-text">E-mail:
                                <b><span th:text="${user.getEmail()}"></span></b>
                            </p>
                            <p class="card-text">Domicilio:
                                <b><span th:text="${user.getCity()+' ('+user.getRegion()+')'}"></span></b>
                            </p>
                            <p class="card-text">Candidatura:
                                <b><span th:text="${user.getSector().getName()+' - '+user.getProfession().getName()}"></span></b>
                            </p>
                        </div>
                        <div class="tab-pane" id="pills-portfolio" role="tabpanel" aria-labelledby="pills-portfolio-tab">
                            <h4 class="card-text font-weight-bold">Esperienze lavorative</h4>
                            <div th:if="${user.getExperiences().size()==0 }">
                                <p>Non sono state registrate esperienze lavorative.</p>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" th:if="${user.getExperiences().size()!=0 }" width="100%">
                                    <thead>
                                    <tr>
                                        <th scope="col">Periodo</th>
                                        <th scope="col">Settore professionale</th>
                                        <th scope="col">Professione</th>
                                        <th scope="col">Funzione</th>
                                        <th scope="col">Datore di lavoro</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="exp: ${user.getExperiences()}">
                                        <td th:text="${exp.getFormattedBegin()+'-'+exp.getFormattedEnd()}"></td>
                                        <td th:text="${exp.getSector().getName()}"></td>
                                        <td th:text="${exp.getProfession().getName()}" ></td>
                                        <td th:text="${exp.getJobfunction()}"></td>
                                        <td th:text="${exp.getEmployer()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab">
                            <h4 class="card-text font-weight-bold">Formazione</h4>
                            <div th:if="${user.getEducationList().size()==0 }">
                                <p>Non sono state registrate informazioni riguardanti la formazione.</p>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped" th:if="${user.getEducationList().size()!=0 }" width="100%" >
                                    <thead>
                                    <tr>
                                        <th scope="col">Periodo</th>
                                        <th scope="col">Tipo scuola</th>
                                        <th scope="col">Scuola</th>
                                        <th scope="col">Titolo conseguito</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="edu: ${user.getEducationList()}">
                                        <td th:text="${edu.getFormattedBegin()+'-'+edu.getFormattedEnd()}"></td>
                                        <td th:text="${edu.getSchoolType()}"></td>
                                        <td th:text="${edu.getSchool()}" ></td>
                                        <td  th:text="${edu.getDegree()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div  th:if="${detail}" class="tab-pane" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <h4 class="card-text">Contatta</h4>
                            <form class="" method="post">
                                <div class="form-group">
                                    <label for="message">Messaggio</label>
                                    <textarea class="form-control" id="message" rows="5" style="resize:none" required></textarea>
                                </div>

                                <div class="form-group text-center">
<!--                                    <a th:href="@{/}" class="btn btn-primary px-4" >Invia</a>-->
                                    <button disabled class="btn btn-primary" >Invia</button>
                                </div>
                            </form>
                        </div>

                        <div class="tab-pane" id="pills-knowledge" role="tabpanel" aria-labelledby="pills-knoledge-tab">
                            <h4 class="card-text">Conoscenze linguistiche</h4>
                            <div th:if="${user.getLanguagesArr().length==0}">
                                <p>Non sono state registrate conoscenze linguistiche.</p>
                            </div>
                            <div class="row"  th:if="${user.getLanguagesArr().length!=0 }">
                                <button class="btn btn-outline-primary m-2" th:each="lang: ${user.getLanguagesArr()}" th:text="${lang}" disabled></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:fragment="headProfile" class="card bg-light p-2">
    <div class="row no-gutters align-items-center">
        <div class="col-md-3" style="background: #868e96;">
            <img class="card-img-top h-100" th:src="@{'/user/'+${user.getEmail()}+'/image'}">
        </div>
        <div class="col-md-9">
            <div class="card-body text-center">
                <h1 th:text="${user.getName()+' '+user.getSurname()}">Eric Rossetti</h1>
                <p class="lead" th:text="${user.getSector().getName()+' - '+user.getProfession().getName()}"></p>
            </div>
        </div>
    </div>
</div>