<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="profile" th:object="${user}" >
    <div class="card bg-light p-2">
        <div class="row no-gutters align-items-center">
            <div class="col-md-3" style="background: #868e96;">
                <img  th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_PRIVATE'')')}"
                      class="card-img-top h-100" th:src="@{images/user-avatar.svg}">
                <img  th:if="${#authorization.expression('hasRole(''ROLE_COMPANY'')')}"
                      class="card-img-top h-100" th:src="@{images/company-avatar.svg}">
            </div>
            <div class="col-md-9">
                <div class="card-body text-center">
                    <h1 th:text="${user.getName()}">Eric Rossetti</h1>
                    <p class="lead">
                        <span th:text="${user.getSector().getName()}"></span>
                        <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_PRIVATE'')')}"> - </span>
                        <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')') || #authorization.expression('hasRole(''ROLE_PRIVATE'')')}" th:text="${user.getProfession().getName()}"></span>
                    </p>



                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="nav nav-pills" id="pills-tab" role="tablist">
                        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profilo</a>
                        <a class="nav-link" id="pills-portfolio-tab" data-toggle="pill" href="#pills-portfolio" role="tab" aria-controls="v-pills-portfolio" aria-selected="false">Portfolio</a>
                        <a class="nav-link" id="pills-education-tab" data-toggle="pill" href="#pills-education" role="tab" aria-controls="v-pills-education" aria-selected="false">Formazione</a>
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="v-pills-contact" aria-selected="false">Contatto</a>
                    </div>
                </div>

                <div class="card-body">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <h4 class="card-text font-weight-bold">Informazioni personali</h4>
                            <p class="card-text">Nome Cognome: Eric Rossetti</p>
                            <p class="card-text">Data di nascita: 20.10.1994</p>
                            <p class="card-text">Nazionalità: Svizzera</p>
                            <p class="card-text">Numero di telefono: 079 111 11 11</p>
                            <p class="card-text">E-mail: email@email.com</p>
                            <p class="card-text">Indirizzo: via la via 4</p>
                        </div>
                        <div class="tab-pane" id="pills-portfolio" role="tabpanel" aria-labelledby="pills-portfolio-tab">
                            <p class="card-text">Portfolio</p>
                        </div>
                        <div class="tab-pane" id="pills-education" role="tabpanel" aria-labelledby="pills-education-tab">
                            <h4 class="card-text font-weight-bold">Formazione</h4>
                            <p class="card-text">Nome Cognome: Eric Rossetti</p>
                            <p class="card-text">Data di nascita: 20.10.1994</p>
                            <p class="card-text">Nazionalità: Svizzera</p>
                            <p class="card-text">Numero di telefono: 079 111 11 11</p>
                            <p class="card-text">E-mail: email@email.com</p>
                            <p class="card-text">Indirizzo: via la via 4</p>
                        </div>
                        <div class="tab-pane" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <p class="card-text">Contact</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

