<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="master::head('JobTI per i privati')"></head>

<body class="bg-light">

<header th:replace="master::header"></header>


<div class="position-relative overflow-hidden p-md-3 m-md-0 text-center bg-white">
    <div class="col-md-8 p-lg-2 mx-auto my-4">
        <h1 class="display-4 text-info font-weight-normal mb-5">Ecco cosa offre JobTi per i privati</h1>
        <p class="lead font-weight-normal my-4">Mettiamo in evidenza i pregi dei candidati che si iscrivono alla
            piattaforma, in modo tale da essere chiari e facilmente individuabili dalle società che necessitano di
            personale</p>
    </div>
</div>

<main class="container-fluid my-5" role="main">

    <div class="row justify-content-center mb-2">
        <div class="col-md-7">
            <div class="bg-info rounded mr-md-3 pt-2 px-3 pt-md-4 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Particolarità personali di ogni singolo lavoratore</h2>
                </div>
                <div class="bg-white shadow-sm mx-auto p-3"
                     style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <p class="lead text-dark">Per fare ciò ci affidiamo a test psicologici, oltre all’esperienza
                        lavorativa e quella formativa il vantaggio competitivo viene dato dalla personalità</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-2">
        <div class="col-md-8">
            <div class="bg-success rounded mr-md-3 pt-2 px-3 pt-md-4 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Struttura a crediti</h2>
                </div>
                <div class="bg-white shadow-sm mx-auto p-3"
                     style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <p class="lead text-dark">Ogni account privato ha a disposizione gratuitamente 10 crediti. Invita
                        amici e conoscenti ad iscriversi sulla piattaforma per acquisire più crediti.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-2">
        <div class="col-md-9">
            <div class="bg-secondary rounded mr-md-3 pt-2 px-3 pt-md-4 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Ci teniamo alla tua privacy</h2>
                </div>
                <div class="bg-white shadow-sm mx-auto p-3"
                     style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <p class="lead text-dark">Tutti i dati dei singoli iscritti sono trasferiti alle società solo dal
                        momento in cui queste provano essere realmente interessate al profilo e lo hanno preso in
                        considerazione per una potenziale futura assunzione</p>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center mb-2">
        <div class="col-md-10">
            <div class="bg-info rounded mr-md-3 pt-2 px-3 pt-md-4 px-md-5 text-center text-white overflow-hidden">
                <div class="my-3 py-3">
                    <h2 class="display-5">Presentati in modo più spontaneo</h2>
                </div>
                <div class="bg-white shadow-sm mx-auto p-3"
                     style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <p class="lead text-dark">Nel profilo di ogni candidato verrà posta una guida sulla redazione di un
                        breve video di presentazione, il quale verrà messo a diretta disposizione per le imprese
                        interessate. Considerando il livello di spontaneità che ne scaturisce, sommato ai consigli dati dal nostro team di esperti, questo può diventare uno strumento forte per incentivare il datore di lavoro a svolgere un primo colloquio di lavoro e chissà forse in futuro portare ad un assunzione.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">

        <div class="row text-center mb-5">
            <div class="col">
                <h5 class="display-4">Storie di successo</h5>
            </div>
        </div>

        <div class="row text-center my-5">
            <div class="col-lg-4">
                <img class="bd-placeholder-img bg-white p-2 rounded-circle" th:src="@{/images/user-avatar.svg}" width="140" height="140">
                <h5 class="display-5">Mario Rossi</h5>
                <p class="lead">Grazie a questa piattaforma sono riuscito a trovare lavoro</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img bg-white p-2  rounded-circle" th:src="@{/images/user-avatar-blue.svg}" width="140" height="140">
                <h5 class="display-5">Michel Bianchi</h5>
                <p class="lead">Grazie a questa piattaforma sono riuscito a trovare lavoro</p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img bg-white p-2  rounded-circle" th:src="@{/images/user-avatar-green.svg}" width="140" height="140">
                <h5 class="display-5">Luca Gialli</h5>
                <p class="lead">Grazie a questa piattaforma sono riuscito a trovare lavoro</p>
            </div>
        </div>

    </div>

    <div class="row text-center mb-5">
        <div class="col">
            <a th:href="@{/register/private}" class="btn btn-lg btn-outline-primary my-5">Registra ora</a>
        </div>
    </div>

</main>

<footer th:replace="master::footer"></footer>
</body>
</html>