<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="master::head('JobTI - Login')">
</head>

<body>
<header th:replace="master::header"></header>

<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="jumbotron p-4 text-center">
                        <h1>Login</h1>
                    </div>
                    <form class="" method="post">
                        <div style="min-height: 60px;">
                            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                Le credenziali inserite non sono corrette. Riprova!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" name="username" placeholder="Email"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" id="password" name="password" placeholder="Password"
                                   required type="password">
                        </div>
                        <div class="form-group mt-5">
                            <button class="btn btn-block btn-primary" type="submit">Login</button>
                        </div>
                        <div class="form-group ">
                            <p>Non sei ancora iscritto?
                                <a class="btn-link" th:href="@{/#usertype}" >Registrati!</a>
                            </p>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-outline-primary" th:href="@{/}">
                                Indietro
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="master::footer"></footer>

</body>
</html>