<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="master::head('JobTI')"></head>
<body>

<header th:replace="master::header"></header>

<main role="main">
    <div class="container my-5">
        <div class="card bg-light p-2">
            <div class="row no-gutters align-items-center">
                <div class="col-md-3" style="background: #868e96;">
                    <img class="card-img-top h-100" th:src="@{images/user-avatar.svg}">
                </div>
                <div class="col-md-9">
                    <div class="card-body text-center">
                        <h1>Eric Rossetti</h1>
                        <p class="lead">Tutto fare </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">Il tuo profilo è completo al <b>25%</b></p>
                        <div class="progress" style="height: 20px;">
                            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25"
                                 class="progress-bar"
                                 role="progressbar" style="width: 25%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="choose" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#profile" role="tab">Profilo</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#portfolio" role="tab">Portfolio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact" role="tab">Contatta</a>
                            </li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile" role="tabpanel">
                                <h4 class="card-text font-weight-bold">Informazioni personali</h4>
                                <p class="card-text">Nome Cognome: Eric Rossetti</p>
                                <p class="card-text">Data di nascita: 20.10.1994</p>
                                <p class="card-text">Nazionalità: Svizzera</p>
                                <p class="card-text">Numero di telefono: 079 111 11 11</p>
                                <p class="card-text">E-mail: email@email.com</p>
                                <p class="card-text">Indirizzo: via la via 4</p>

                                <h4 class="card-text font-weight-bold">Formazione</h4>
                                <p class="card-text">Nome Cognome: Eric Rossetti</p>
                                <p class="card-text">Data di nascita: 20.10.1994</p>
                                <p class="card-text">Nazionalità: Svizzera</p>
                                <p class="card-text">Numero di telefono: 079 111 11 11</p>
                                <p class="card-text">E-mail: email@email.com</p>
                                <p class="card-text">Indirizzo: via la via 4</p>
                            </div>
                            <div class="tab-pane" id="portfolio" role="tabpanel">
                                <p class="card-text">Portfolio</p>
                            </div>
                            <div class="tab-pane" id="contact" role="tabpanel">
                                <p class="card-text">Contact</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer th:replace="master::footer"></footer>
</body>
<script>
    $('#choose a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
</html>