<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="master::head('JobTI')">
</head>

<body>
<header th:replace="master::header"></header>

<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="jumbotron p-4 text-center">
                        <h1 class="display-4">Registrazione</h1>
                    </div>
                    <form method="post" th:object="${private}" id="regForm" th:action="@{/register/private}">
                        <div id="tab0" class="tab">
                            <div th:replace="fragRegistration::emailpass"></div>
                        </div>
                        <div id="tab1" class="tab">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input class="form-control field" id="name" name="name" placeholder="Nome"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="surname">Cognome</label>
                                <input  class="form-control field" id="surname" name="surname" placeholder="Cognome"
                                       required>
                            </div>
                            <div th:replace="fragRegistration::sector"></div>
                        </div>
                        <div id="tab2" class="tab">
                            <div th:replace="fragRegistration::addresspicker"></div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="form-group">
                                <label>Data di nascita</label>
                                <div th:replace="fragRegistration::datepicker"></div>
                            </div>
                        </div>

                        <div style="text-align:center;margin-top:40px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>

                        <div class="text-right">
                            <button class="btn btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Indietro</button>
                            <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Avanti</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="master::footer"></footer>
<script type="text/javascript" th:src="@{/js/regForm.js}" user="private"></script>
</body>
</html>