<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="master::head('JobTI')">

</head>
<body>

<header th:replace="master::header"></header>

<main role="main">
    <div class="container md-4 my-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="card m-2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Azienda</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a th:href="@{#}"class="btn btn-primary">Scopri di più</a>
                        <a th:href="@{/register/company}" class="btn btn-primary">Registra ora</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card m-2">
                    <div class="card-body text-center">
                        <h5 class="card-title">Privato</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a th:href="@{#}"class="btn btn-primary">Scopri di più</a>
                        <a th:href="@{/register/private}" class="btn btn-primary">Registra ora</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="master::footer"></footer>
</body>
</html>