<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="master::head('JobTI')">
</head>

<body>
<header th:replace="master::header"></header>

<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="jumbotron p-4 text-center">
                        <h1 class="display-4">Registrazione</h1>
                    </div>
                    <form method="post" th:object="${company}" id="regForm" th:action="@{/register/company}">
                        <div class="tab">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" name="email" placeholder="Email"
                                       required>
                            </div >
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" name="password" placeholder="Password"
                                       required type="password">
                            </div>
                        </div>
                        <div class="tab">
                            <div class="form-group">
                                <label for="name">Nome</label>
                                <input class="form-control" id="name" name="name" placeholder="Nome"
                                       required>
                            </div>
                            <div th:replace="master::socialReason"></div>
                        </div>
                        <div class="tab">
                            <div class="form-group">
                                <label for="site">Sito</label>
                                <input class="form-control" id="site" name="site" placeholder="Sito"
                                       required>
                            </div>
                            <div th:replace="master::sector"></div>
                        </div>
                        <div class="tab">
                            <div th:replace="master::addresspicker"></div>
                        </div>

                        <div class="tab">
                            <div class="form-group">
                                <label for="year">Anno di fondazione</label>
                                <input  class="form-control" id="year" name="year" placeholder="Anno"
                                        required>
                            </div>
                        </div>

                        <div style="text-align:center;margin-top:40px;">
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                            <span class="step"></span>
                        </div>

                        <div class="text-right">
                            <button class="btn btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Indietro</button>
                            <button class="btn btn-primary" type="button" id="nextBtn" onclick="nextPrev(1)">Avanti</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="master::footer"></footer>
<script type="text/javascript" th:src="@{/js/regForm.js}"></script>
</body>
</html>